[http]
	proxy = http://proxyuser:password123@192.168.192.168:3128
[core]
	editor = /snap/bin/subl -n -w
[user]
	name = Ded Wildfield
	email = ded@wildfielded.site
##### HTTPS with personal access token when SSH is administratively unavailable
[credential]
	helper = store --file ~/.git-cred0
